PORT=3000
URL_FRONTEND=http://localhost:5173
JWT_SECRET=gere-uma-chave-secreta-longa-e-unica

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=joalheria

MP_ACCESS_TOKEN=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
